[data-reach-listbox-button] {
    border: none !important;
   border-color: var(--colors-main) !important;
   outline: none;
}
[data-reach-popover]{
    border-radius: 5px;
    animation: slide-down 0.3s ease !important;
}

@keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  